<header class="text-white text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-2 col-sm-3 px-5 py-5 col-centered">
                <img id="img-profile" class="img-fluid mb-3 d-block mx-auto" src="../../assets/imgprofile.png" alt="">
            </div>
        </div>
        <h1 class="text-uppercase mb-0">Belatrix Money Exchange</h1>
        <hr class="style7">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-centered">
                <div class="row">
                    <div class="col-md-2 offset-md-2 top-c">
                        <div></div>
                    </div>
                    <div class="col-md-2 top-c">
                        <div></div>
                    </div>
                    <div class="col-md-2 top-c">
                        <div></div>
                    </div>
                    <div class="col-md-2 top-c">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>