<footer class="text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <h4 class="text-uppercase mb-4">What is it?</h4>
                        <ul>
                            <li>
                                Technical Test Belatrix
                            </li>
                            <li>
                                Technical Test Belatrix
                            </li>
                            <li>
                                Technical Test Belatrix
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 mb-5">
                        <h4 class="text-uppercase mb-4">What is it?</h4>
                        <ul>
                            <li>
                                Technical Test Belatrix
                            </li>
                            <li>
                                Technical Test Belatrix
                            </li>
                            <li>
                                Technical Test Belatrix
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h4 class="text-uppercase mb-4">What is it?</h4>
                        <ul>
                            <li>
                                Technical Test Belatrix
                            </li>
                            <li>
                                Technical Test Belatrix
                            </li>
                            <li>
                                Technical Test Belatrix
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light text-center rounded-square btn-foot" href="#">
                                    <span class="oi oi-circle-check"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light text-center rounded-square btn-foot" href="#">
                                    <i class="fab fa-fw fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light text-center rounded-square btn-foot" href="#">
                                    <i class="fab fa-fw fa-twitter"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>
<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright © David Obregón 2019</small>
    </div>
</div>